body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#Tobias {
    width: 50%;
    height: 100vh;
    background-color: red;
}

#Alex {
    width: 50%;
    height: 100vh;
    background-color: #fefefe;
    $color: (
        primary: (
            base: #444499,
            dark: darken( #444499, 20%),
            light: lighten( #444499, 20%),
        ),
        secondary: (
            base: #4a095a,
            dark: darken( #4a095a, 20%),
            light: lighten( #4a095a, 20%),
        ),

    )

}